@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-behavior: smooth;
  --loading-color: theme(colors.primary.600);
  --btn-gradietnt: linear-gradient(
    to bottom right,
    theme(colors.primary.600/0.75),
    theme(colors.primary.800/0.75),
    theme(colors.gray.900/0.75),
    theme(colors.gray.950/0.75)
  );
}

/* ========= General ========= */
::selection {
  @apply text-white bg-primary-700;
}

html {
  color-scheme: dark;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}
.page-enter-from,
.page-leave-to {
  @apply -translate-y-5 opacity-0;
}

.link {
  cursor: pointer;
  @apply transition-colors;
  &:hover {
    @apply text-primary-400;
  }
}

.pretitle {
  letter-spacing: 0.5em;
  @apply mb-2 text-xs uppercase opacity-50;
}
.pretitle-alt {
  letter-spacing: 0.15em;
  @apply mb-2 text-xs uppercase opacity-40;
}
.title {
  @apply font-head text-4xl mb-8 tracking-widest;
}
.title-alt {
  @apply font-head text-xl tracking-widest;
}
.container {
  @apply max-w-screen-xl;
}

.prose {
  @apply prose-gray dark:prose-invert;
}
